---
- name: Set distribution facts
  set_fact:
    _docker_os_dist: "{{ ansible_distribution }}"
    _docker_os_dist_release: "{{ ansible_distribution_release }}"
    _docker_os_dist_major_version: "{{ ansible_distribution_major_version }}"
    _docker_os_dist_check: yes
  tags: ["install", "configure"]

- name: Reinterpret distribution facts for Linux Mint 18
  set_fact:
    _docker_os_dist: "Ubuntu"
    _docker_os_dist_release: "xenial"
    _docker_os_dist_major_version: "16"
  when:
    _docker_os_dist == "Linux Mint" and
    _docker_os_dist_major_version == "18"
  tags: ["install", "configure"]

# https://wiki.ubuntu.com/SystemdForUpstartUsers
# Important! systemd is only fully supported in Ubuntu 15.04 and later releases
- name: Determine usage of systemd
  shell: "ps -p1 | grep systemd 1>/dev/null && echo systemd || echo upstart"
  become: true
  changed_when: no
  register: _determine_systemd_usage

- name: Set fact to indicate systemd is not used
  set_fact:
    _docker_systemd_used: "{{ _determine_systemd_usage is defined and _determine_systemd_usage.stdout == 'systemd' }}"

- name: Compatibility and distribution checks
  include_tasks: checks.yml
  tags: ["install", "configure"]

- name: Setup Docker package repositories
  include_tasks: setup-repository.yml
  tags: ["install"]

- name: Remove Docker versions before Docker CE
  include_tasks: remove-pre-docker-ce.yml
  when: docker_remove_pre_ce | bool
  tags: ["install"]

- name: Install Docker
  include_tasks: install-docker.yml
  tags: ["install"]

- name: Configure audit logging
  include_tasks: setup-audit.yml
  tags: ["configure"]

- name: Apply workarounds for bugs and/or tweaks
  include_tasks: bug-tweaks.yml
  tags: ["configure"]

- name: Configure systemd service
  include_tasks: configure-systemd.yml
  when: _docker_systemd_used | bool
  tags: ["configure"]

- name: Configure non-systemd service
  include_tasks: configure-non-systemd.yml
  when: _docker_systemd_used | bool == false
  tags: ["configure"]

- name: Configure Docker
  include_tasks: configure-docker.yml
  tags: ["configure"]
