---
- name: Collect distribution facts if not already done
  when: not ansible_distribution_major_version is defined
  ansible.builtin.setup:
    gather_subset:
      - min
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: Set distribution and python facts
  ansible.builtin.set_fact:
    _docker_os_dist: "{{ ansible_distribution }}"
    _docker_os_dist_release: "{{ ansible_distribution_release }}"
    _docker_os_dist_major_version: "{{ ansible_distribution_major_version }}"
    _docker_os_dist_file_varity: "{{ ansible_distribution_file_variety }}"
    _docker_os_arch: "amd64"
    _docker_os_dist_check: yes
    _docker_python3: "{{ ansible_python_version is version('3', '>=') }}"
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: Reinterpret distribution facts for Linux Mint
  when: _docker_os_dist == "Linux Mint"
  ansible.builtin.set_fact:
    _docker_os_dist: "Ubuntu"
    _docker_os_dist_release: "{{ docker_x_mint_ubuntu_mapping[ansible_distribution_major_version | int].release }}"
    _docker_os_dist_major_version: "{{ docker_x_mint_ubuntu_mapping[ansible_distribution_major_version | int].major_version }}"
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: Reinterpret distribution facts for CentOS Stream 8
  when:
    - _docker_os_dist == "CentOS"
    - _docker_os_dist_release == "Stream"
  ansible.builtin.set_fact:
    _docker_os_dist_file_varity: "RedHat"
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: Reinterpret distribution facts for Debian 10 (Buster) due to bug
  when:
    - _docker_os_dist == "Debian"
    - _docker_os_dist_release == "buster" or (ansible_lsb is defined
      and ansible_lsb.codename is defined and ansible_lsb.codename == "buster")
  ansible.builtin.set_fact:
    _docker_os_dist: "Debian"
    _docker_os_dist_release: "buster"
    _docker_os_dist_major_version: 10
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: OS release info
  ansible.builtin.raw: cat /etc/os-release
  check_mode: no
  changed_when: no
  register: _docker_os_release_info
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: Print OS release information
  ansible.builtin.debug:
    var: _docker_os_release_info
    verbosity: 1
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: Print LSB information
  when:
    - ansible_lsb is defined
  ansible.builtin.debug:
    var: ansible_lsb
    verbosity: 1
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: Reinterpret distribution facts for Raspbian
  when:
    - _docker_os_release_info.stdout is search('raspbian')
  ansible.builtin.set_fact:
    _docker_os_arch: "armhf"
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: Reset role variables
  ansible.builtin.set_fact:
    _docker_systemd_service_config_tweaks: []
    _docker_service_envs: {}
    _docker_restart_required: false
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: Print interpreted distribution information
  ansible.builtin.debug:
    msg: "distribution={{ _docker_os_dist }}, release={{ _docker_os_dist_release }}, major_version={{ _docker_os_dist_major_version }}"
    verbosity: 1
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: Compatibility and distribution checks
  when: docker_do_checks | bool
  ansible.builtin.include_tasks: checks.yml
  tags: ["install", "configure", "postinstall", "docker_install", "docker_configure", "docker_postinstall"]

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Abort if podman is already installed
  when: "'podman' in ansible_facts.packages"
  ansible.builtin.fail:
    msg: "Podman is already installed! If you want to use this role ensure you do not have any podman related packages installed!"

- name: Install and configure Docker CE
  when: not docker_remove | bool
  block:
    - name: Network access disabled
      when: not docker_network_access | bool
      ansible.builtin.debug:
        msg: "Tasks requiring network access will be skipped!"

    - name: Remove Docker versions before Docker CE
      when:
        - docker_remove_pre_ce | bool
        - docker_network_access | bool
      ansible.builtin.include_tasks: remove-pre-docker-ce.yml
      tags: ["install", "docker_install"]

    - name: Setup Docker package repositories
      when: docker_setup_repos | bool
      ansible.builtin.include_tasks: setup-repository.yml
      tags: ["install", "docker_install"]

    - name: Install Docker
      when: docker_network_access | bool
      ansible.builtin.include_tasks: install-docker.yml
      tags: ["install", "docker_install"]

    - name: Configure audit logging
      ansible.builtin.include_tasks: setup-audit.yml
      tags: ["configure", "docker_configure"]

    - name: Apply workarounds for bugs and/or tweaks
      ansible.builtin.include_tasks: bug-tweaks.yml
      tags: ["configure", "docker_configure"]

    - name: Configure Docker
      ansible.builtin.include_tasks: configure-docker.yml
      tags: ["configure", "docker_configure"]

    - name: Postinstall tasks
      when:
        - docker_network_access | bool
        - (docker_sdk | bool) or (docker_stack | bool) or (docker_compose | bool)
      ansible.builtin.include_tasks: postinstall.yml
      tags: ["install", "postinstall", "docker_install", "docker_postinstall"]

- name: Remove Docker CE and related configuration
  when: docker_remove | bool
  ansible.builtin.include_tasks: remove-docker.yml
