---
- name: Ensure python and deps for Ansible modules
  become: true
  raw: dnf install -y python2 python2-dnf libselinux-python
  changed_when: false
  when:
    - docker_network_access | bool
    - _docker_os_dist == "Fedora"
    - not _docker_python3

- name: Ensure packages are installed for repository setup
  become: true
  package:
    name: "{{ item }}"
    state: present
  loop: "{{ docker_repository_related_packages[_docker_os_dist_file_varity] }}"
  register: _pkg_result
  until: _pkg_result is succeeded
  when:
    - docker_network_access | bool
    - _docker_os_dist == "CentOS" or _docker_os_dist == "RedHat"

- name: Determine channels to be enabled and/or disabled
  set_fact:
    _docker_disable_channels: "{{ docker_channels | difference(_docker_merged_channels) }}"
    _docker_enable_channels: "{{ docker_channels | intersect(_docker_merged_channels) }}"
  vars:
    _docker_mandatory_channel: []
    _docker_merged_channels: "{{ _docker_mandatory_channel }} + [ '{{ docker_channel }}' ]"

- name: Add Docker CE repository
  become: true
  get_url:
    url: "{{ docker_repository_url[_docker_os_dist] | default(docker_repository_url[_docker_os_dist_file_varity]) }}"
    dest: /etc/yum.repos.d/docker-ce.repo
    mode: 0644
    force: yes
  register: _docker_repo
  until: _docker_repo is succeeded
  changed_when: no
  when:
    - docker_network_access | bool

# https://github.com/haxorof/ansible-role-docker-ce/issues/126
- name: Workaround issue with $releasever set to 7Server
  block:
    - name: Fetch $relesever value
      command: python -c 'import yum, json; yb = yum.YumBase(); print json.dumps(yb.conf.yumvar, indent=2)'
      changed_when: no
      check_mode: no
      register: _docker_releasever

    - name: Replace $releasever with '7' in /etc/yum.repos.d/docker-ce.repo
      become: yes
      replace:
        path: /etc/yum.repos.d/docker-ce.repo
        regexp: \$releasever
        replace: '7'
      when: _docker_releasever.stdout is search('7Server')
  when:
    - (_docker_os_dist == "RedHat" or _docker_os_dist == "CentOS")
    - _docker_os_dist_major_version | int == 7
    - docker_x_fix_centos_redhat_7_releasever | bool

- name: Disable Docker CE repository channels
  become: true
  shell: "{{ docker_cmd_enable_disable_repo[_docker_os_dist_file_varity] }}"
  args:
    warn: false
  loop: "{{ _docker_disable_channels }}"
  changed_when: false
  vars:
    _item_enabled: false
  tags:
    - skip_ansible_lint

- name: Enable Docker CE repository channels
  become: true
  shell: "{{ docker_cmd_enable_disable_repo[_docker_os_dist_file_varity] }}"
  args:
    warn: false
  loop: "{{ _docker_enable_channels }}"
  changed_when: false
  vars:
    _item_enabled: true
  tags:
    - skip_ansible_lint

- name: RHEL 7 repositories
  block:
    - name: Set internal facts for repository handling
      set_fact:
        _rhel_repo_check_cmd:
          enabled:
            sm: subscription-manager repos --list-enabled
            yum: yum repolist enabled
          disabled:
            sm: subscription-manager repos --list-disabled
            yum: yum repolist disabled
        _rhel_cmd_enable_disable_repo:
          enabled:
            sm: subscription-manager repos --enable=
            yum: "yum-config-manager --enable "
          disabled:
            sm: subscription-manager repos --disable=
            yum: "yum-config-manager --disable "
        _rhel_repos: "{{ (ansible_facts['architecture'] == 'ppc64le') | ternary(docker_rhel_ppc64le_repos, docker_rhel_repos) }}"

    - name: Enable and disable repositories (RedHat)
      become: true
      shell: "{{ _rhel_repo_check_cmd[item.state][item.repo_manager]  }} \
        | grep {{ item.id }} && exit 0 \
        || {{ _rhel_cmd_enable_disable_repo[item.state][item.repo_manager] }}{{ item.id }} \
        && exit 2"
      loop: "{{ _rhel_repos }}"
      register: _cmd_rhel_repo_enabled_disabled
      changed_when: _cmd_rhel_repo_enabled_disabled.rc == 2
      failed_when: _cmd_rhel_repo_enabled_disabled.rc not in [ 0, 2 ]
      tags:
        - skip_ansible_lint

  when:
    - docker_network_access | bool
    - _docker_os_dist == "RedHat"
    - _docker_os_dist_major_version | int == 7