---
- name: Include tasks for distribution {{ _docker_os_dist }} to setup repository
  include_tasks: setup-repository-{{ _docker_os_dist }}.yml

- name: Update repository cache
  become: true
  shell: "{{ docker_cmd_update_repo_cache[_docker_os_dist] }}"
  args:
    warn: false
  changed_when: false
  register: _result
  until: _result is succeeded
  when: docker_network_access | bool
  tags:
    - skip_ansible_lint